In [ ]:
# Falta el desafío 8

In [7]:
import pandas as pd
'''Diferencia Series y Dataframe: 
una_serie = pd.Series(['Peru', 'Argentina', 'Bolivia', 'Uruguay', 'Brasil', 'Chile'], dtype='string')
print(una_serie)
un_dataframe = pd.DataFrame(data ={"Pais": ['Peru', 'Argentina', 'Bolivia', 'Uruguay', 'Brasil', 'Chile'], "Lengua oficial primaria": ['Español', 'Español', 'Español', 'Español', 'Portugues', 'Español']}, index = [1,2,3,4,5,6])
print(un_dataframe)'''
personas = pd.read_csv(r'C:\Users\Usuario\Desktop\UNIVERSIDAD\fund_info\F-de-Informatica-sample\F-Informatica-LRiccio\Prácticos-Datos\Pandas\personas_2011.csv', sep=';')
# Desafío I: Estos métodos aceptan otros parámetros que merecen la pena ser explorados. Averiguá para qué sirven los parámetro sep, index_col, nrows y header
# sep --> Sirve para separar los datos segun el caracter que le ponga
# index_col --> Sirve para usar columnas como etiquetas de fila del DataFrame, ya sea como nombre de cadena o índice de columna.
# nrows --> Número de filas de archivo a leer. Muestra las primeras n filas.
personas

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0
1,5,2011,1,48,1,255,255,255,3,5,...,13,17,118,B,2.0,3.0,3.0,118.0,19.0,2.0
2,7,2011,2,30,5,111,111,158,1,11,...,13,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN
3,10,2011,2,51,5,248,248,29,4,0,...,3,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0
4,11,2011,1,39,2,223,203,280,3,8,...,15,18,7310,C,-1.0,4.0,3.0,6627.0,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68547,185558,2011,2,-1,-1,-1,-1,263,2,-1,...,-1,-1,221,,NaN,NaN,NaN,NaN,NaN,NaN
68548,185574,2011,2,55,-1,-1,-1,38,2,0,...,0,0,10971,,NaN,NaN,NaN,NaN,NaN,NaN
68549,185583,2011,2,18,7,-1,-1,216,2,-1,...,-1,-1,10624,,NaN,NaN,NaN,NaN,NaN,NaN
68550,185590,2011,2,-1,8,-1,-1,250,2,-1,...,-1,-1,396,,NaN,NaN,NaN,NaN,NaN,NaN
68551,185608,2011,1,27,5,227,227,252,2,-1,...,-1,-1,3765,,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Desafío II: Descargá a tu computadora la tabla de personas que conforman el Ministerio de Ciencia y Tecnología de Argentina, en formato csv.
# Listo

# personas.info() --> informacion de tipos de datos y valores no nulos
# personas.describe() --> informacion estadistica contable

In [6]:
# Desafío III: Extrae la columna seniority_level y contá cuántas personas tenían expertice nivel B, C y D
# Desafío IV: ¿Qué resultados obtuviste en cada caso? Explicá qué hace cada linea de código

# personas["seniority_level"].count() --> 68552
# personas.groupby("seniority_level").count() --> cuenta en seniority_level los nros de todas las columnas
# personas.groupby("seniority_level")[["persona_id"]].count() --> df de sólo seniority_level y personas_id

In [8]:
# Desafío V: Contá cuántas personas de 30 años ingresaron al ministerio en 2011 ¿Cuántas formas de hacer este cálculo se te ocurren?
personas[(personas["anio"] == 2011) & (personas["edad"] == 30)].persona_id.count()

2098

In [4]:
# Desafío VI: Descargala en formato csv y cargala en un nuevo DataFrame de nombre categorias 
# Desafío VII: Identificá si existen columnas en común con el DataFrame grande
categorias = pd.read_csv(r'C:\Users\Usuario\Desktop\UNIVERSIDAD\fund_info\F-de-Informatica-sample\F-Informatica-LRiccio\Prácticos-Datos\Pandas\ref_categoria_conicet.csv', sep=';')
categorias.head() #--> categoria_conicet_id es la columna en común

   categoria_conicet_id categoria_conicet_descripcion
0                    -1        No pertenece a Conicet
1                     1        Investigador asistente
2                     2          Investigador adjunto
3                     3    Investigador independiente
4                     4        Investigador principal

In [10]:
personas_mer = pd.merge(personas, categorias, on='categoria_conicet_id')
personas_mer # Merge te combina para aquellos valores correspondientes, no nulos

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id,categoria_conicet_descripcion
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0,No pertenece a Conicet
1,10,2011,2,51,5,248,248,29,4,0,...,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0,No pertenece a Conicet
2,11,2011,1,39,2,223,203,280,3,8,...,18,7310,C,-1.0,4.0,3.0,6627.0,20.0,1.0,No pertenece a Conicet
3,12,2011,2,48,1,58,57,55,1,1,...,3,578,B,-1.0,3.0,1.0,578.0,19.0,1.0,No pertenece a Conicet
4,13,2011,2,41,5,192,192,281,4,0,...,0,517,,-1.0,-1.0,3.0,517.0,22.0,1.0,No pertenece a Conicet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48635,60260,2011,1,34,5,203,203,280,1,3,...,15,6593,C,11.0,5.0,3.0,4070.0,46.0,2.0,Otro personal Conicet
48636,79131,2011,1,38,3,204,204,204,1,0,...,0,8197,D,11.0,-1.0,3.0,666.0,21.0,1.0,Otro personal Conicet
48637,85209,2011,1,40,1,-1,-1,49,3,0,...,4,5056,S/D,11.0,-1.0,3.0,5056.0,18.0,3.0,Otro personal Conicet
48638,146747,2011,2,32,3,281,251,251,3,0,...,0,7515,S/D,11.0,-1.0,3.0,7515.0,19.0,1.0,Otro personal Conicet
48639,47272,2011,1,28,5,45,45,45,4,1,...,2,418,,10.0,-1.0,3.0,357.0,41.0,1.0,Pasante

In [11]:
personas_cat = pd.concat([personas, categorias])
personas_cat # Te concatena ambos df, incluso los valores en donde el resultado es NaN

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id,categoria_conicet_descripcion
0,1.0,2011.0,2.0,36.0,-1.0,-1.0,-1.0,64.0,4.0,0.0,...,1.0,4488.0,,-1.0,-1.0,3.0,116.0,22.0,1.0,NaN
1,5.0,2011.0,1.0,48.0,1.0,255.0,255.0,255.0,3.0,5.0,...,17.0,118.0,B,2.0,3.0,3.0,118.0,19.0,2.0,NaN
2,7.0,2011.0,2.0,30.0,5.0,111.0,111.0,158.0,1.0,11.0,...,13.0,587.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.0,2011.0,2.0,51.0,5.0,248.0,248.0,29.0,4.0,0.0,...,4.0,44.0,,-1.0,4.0,3.0,124.0,21.0,1.0,NaN
4,11.0,2011.0,1.0,39.0,2.0,223.0,203.0,280.0,3.0,8.0,...,18.0,7310.0,C,-1.0,4.0,3.0,6627.0,20.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,Gestión CyT
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,Pasante
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,Otro personal Conicet
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,Investigador correspondiente
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,Investigador superior emérito

In [ ]:
# Desafío VIII: averiguá para qué sirve cada uno de los métodos y qué parámetros podés pasarseles. ¡Esta información nos será útil para más adelante!